
.button:disabled, .button:hover:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: transparent;
    color: #F27A24;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.button {
    text-align: center;

    line-height: 2.75rem;
    min-width: 180px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 0.125rem;
    text-align: center;
    font-family: "Josefin Sans";
    letter-spacing: 2px;
    color: rgb(253, 253, 253);
    font-size: 16px;
    /* font-weight: 600; */

    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-top: 20px;
    background-color: transparent;
    text-transform: uppercase;
    display: block !important;
    width: 50% !important;
    border-radius: 5px;
    transition: background-color 0.1s ease-out 0s, color, border-color;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: 4px solid #0197f6;
    outline: 2px solid #F27A24;
}
