
.tableBox {
    text-align: center;
    align-items: center;
    color: white;
    /*transform: translate(10%, 10%);*/
    /*//Added to make it work */
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.table {
    box-shadow: 0 0 10px black;
    border-collapse: collapse;
    font-family:'Courier New', Courier, monospace;
    overflow: hidden;
    font-weight: bold;
}

.table thead th {
    background-color: burlywood;
    color: #000;
}

.table td,
.table th {
    padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
    /*background-color: #fff;*/
    background-color: transparent;

}

.table tbody tr:last-of-type {
    border-bottom: 2px solid burlywood;
}