:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: #c0ffd5;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    display: block;
    height: 70px;
    width: auto;
    margin: 0 auto;


}

.links {
    font-size: 35px;
    text-align: end;

}

.header_home {
    font-size: 36px;
    line-height: 40px;
    text-align: end;
    text-decoration: none;
    color: var(--primary-color);
}


.paragraphOne {
    white-space: pre-wrap;
    font-size: 30px;
    align-content: center;
    font-style: italic;


}

.about {
    margin-left: 20px;
}

.button, button {
    background: #aed9ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #9cc3e4;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

.card-content {
    align-content: center;
    font-size: 35px;

}

.card {
    font-size: 35px;
    align-content: center;
}





