

.username       {
    position:absolute;
    font-family: "Josefin Sans";
    left: 50%;
    transform: translate(-50%, -50%);
}
.password {
    font-family: "Josefin Sans";
}

input         {
    font-size:20px;
    color: rgb(254, 254, 254);
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #0197f6;
    background: transparent;
}
input:focus     {
    outline:none;
}

label          {
    /* color:#0197f6; */
    color: #f7f8f9;
    font-size:18px;
    font-weight:normal;
    pointer-events:none;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label   {
    top:-20px;
    font-size:18px;
    /* color:#f5f6fc; */
    color:#f5f7f8;

}

.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#F27A24;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

.highlight {
    position:absolute;
    height:90%;
    width:100px;
    top:25%;
    /* left:0; */
    pointer-events:none;
    opacity:0.5;
}

input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
}

body {
    background-color: transparent;
}

span.msg,

span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}

.container {
    width: 500px;
    margin: 50px auto 0;
    text-align: center
}
